*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(./bg.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
}
::-webkit-scrollbar{
    width: 18px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,#06dee1,#79ff6c);
    border-radius: 8px;
}
section #intro{
    font-size: 4em;
    text-align: center;
    transition: 2s;
    letter-spacing: 0px;
    animation: animate1 3s linear infinite;
}
@keyframes animate1{
    50%{
        letter-spacing: 3px;
    }
}
section #intro span{
    color: red;
    opacity: 0.7;
}
section #lesson-text{
    font-size: 3em;
}
section #lesson-text2{
    font-size: 1.6em;
}
.green-btn{
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background: lightgreen;
    font-size:150%;
    height:75px;
    width:125px;
}
